.FooterButtonContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0 ;
    gap: 0.875rem;
}

.changePasswordButton {
    width: 100%;
    background-color: var(--card-background-color);
    border-radius: 0;
}

.deleteAccountButton {
    width: 100%;
    color: var(--red);
    background-color: var(--card-background-color);
    border-radius: 0;
}

.profileContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.greyTextH6 {
    color: var(--grey-text);
}

.profilePic {
    width: 100px;
    height: auto;
}