.background {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    padding: 40px 10px 10px 10px;
}

.groupList {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
}


.addButtonContainer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0 ;
}

.addButton {
    width: 100%;
    background-color: var(--card-background-color);
    border-radius: 0;
    font-size: 2rem;
}