.ionItem {
    --background: var(--background-color);
    --border-color: transparent;
    --padding-start: 0;
    width: 100%;
}

.checkboxLabel {
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.checklistItem {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.checklistItemContent {
    width: 100%;
}

.titleEditInput {
    background-color: var(--background-color);
    width: 100%;
    border-radius: 0;
    padding: 0;
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.descriptionEditInput {
    background-color: var(--background-color);
    width: 100%;
    border-radius: 0;
    padding: 0;
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.confirmationButtonsContainer {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.confirmButton {
    background-color: var(--card-background-color);
    padding: 5px;
}

.cancelButton {
    background-color: var(--card-background-color);
    padding: 5px;
}

.confirmationButtonIcons {
    width: 30px;
    float: left;
}